/* * === Globals === */
:root{
    --primaryColor: hsl(337, 91%, 38%);
    --depositColor: hsl(178, 90%, 40%);
    --depositLightColor: hsl(178, 70%, 60%);
    --expenseColor: hsl(0, 90%, 40%);
    --expenseLightColor: hsl(0, 70%, 60%);
    --lightGray: #777;
    --lineColor: #eee;
}
*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    margin: 0;
}
h1{
    font-size: 2rem;
    color: #fff;
}
h2{
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: normal;
}
h3{
    font-size: 1.5rem;
}
fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
select{
    background-color: #fff;
    border: none;
}
input{
    outline: none;
    border: none;
    width: 100%;
}
select, input{
    border: 1px solid var(--lineColor);
    padding: .5rem 1rem;
}
input:valid{
    background-color: #eee;
}
input:focus{
    border-color: var(--depositColor);
}
@media screen and (min-width: 768px){
    fieldset{
        flex-direction: row;
    }
}

/* *=== Utilities === */
.container{
    width: 90%;
    margin: 0 auto;
}
.expenseLightColor{
    font-size: .6rem;
    padding: .3rem;
    border-radius: .5rem;
    background-color: var(--expenseLightColor);
    color: #fff;
    margin-left: 1rem;
}
.add__btn{
    background-color: unset;
    border: none;
    color: var(--depositColor);
    font-size: 2rem;
    cursor: pointer;
}
/* * === BEM === */
/* == Header == */
.header{
    position: relative;
    text-align: center;
    width: 100%;
    padding: 5vh;
    margin-bottom: 4rem;
    background: rgba(0,0,0, .5) url('../img/image-2.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-blend-mode: darken;
    /* animation-name: headerAnimation;
    animation-duration: 3s; */
}
.budget__value{
    font-size: 2rem;
    color: #fff;
}
.budget__deposit,
.budget__expense{
    display: flex;
    justify-content: space-between;

    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
    max-width: 20rem;

    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.budget__deposit--flex,
.budget__expense--flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.budget__deposit{
    background-color: var(--depositColor);
}
.budget__expense{
    background-color: var(--expenseColor)
}

/* == Main == */
.deposit,
.expense{
    margin-bottom: 4rem;
    width: 100%;
}
.deposit{
    color: var(--depositLightColor);
}
.expense{
    color: var(--expenseLightColor);
}
.list__element{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.1px var(--lineColor) solid;
    margin-bottom: .5rem;
    padding: 0 1rem;
    gap: 1rem;
}
.list__element:first-of-type{
    border: none;
}
.element__description,
.element__value,
.element__remove--btn{
    transition: .3s;
    font-size: 1.2rem;
}
.element__description{
    color: var(--lightGray);
}
.element__value{
    display: flex;
    align-items: center;
}
.elemet__value p:last-child{
    margin-left: 2rem;
}


.element__remove--btn {
    color: currentColor;
    border: none;
    background-color: unset;
    font-size: 1.4rem;
    cursor: pointer;
    margin-left: 1rem;
}
@media screen and (min-width: 768px) {
    .main{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        gap: 2rem;
    }
    .element__remove--btn{
        color: #fff;
    }
    /* = List Animation = */
    /* Make animation when pointer is hover the list */
    .list__element:hover
    .element__value{
        margin-right: 2rem;
    }
    .list__element:hover
    .element__description{
        margin-left: 2rem;
    }
    .list__element:hover
    .element__remove--btn{
        color: unset;
    }
}
  
/* * === Keyframes === */
@keyframes headerAnimation {
    from{
        top: 100vh;
    }
    to{
        top: 0;
    }
}