/* Globals */
:root{
    --primaryColor: rgb(183, 9, 76);
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

/* Utilities */
.container{
    width: 90%;
}

/* BEM */
.header{
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 10vh;
    background-image: linear-gradient(to bottom, var(--primaryColor), 80%, rgba(183, 9, 76, 0));
    
    /* animation-name: headerAnimation;
    animation-duration: 3s; */
}

/* Keyframes */
/* @keyframes headerAnimation {
    from{
        top: 100vh;
    }
    to{
        top: 0;
    }
} */